#typing-otter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    cursor: grab;
    user-select: none;
    z-index: 2147483647;
    transition: left 15s ease-in-out, top 15s ease-in-out;
}

#typing-otter.dragging {
    cursor: grabbing;
    user-select: auto;
    transition: none;
}